mode: ${KP_MODE:development}

log:
  level: "DEBUG"
  format: "[%(asctime)s] [%(levelname)s] [%(name)s]: %(message)s"

files:
  root_directory: "${KP_ROOT_DIRECTORY:./test/mocks}"
  source_data_directory: "${KP_SOURCE_DATA_DIR:source_data}"

rdbms:
  host: ${KP_RDBMS_HOST:localhost}
  port: ${KP_RDBMS_PORT:5432}
  database: ${KP_RDBMS_DBNAME:kp-db}
  username: ${KP_RDBMS_USERNAME:postgres}
  password: ${KP_RDBMS_PASSWORD:postgres}

object_store:
  host: ${KP_OBJECT_STORE_HOST:localhost}
  port: ${KP_OBJECT_STORE_PORT:9001}
  access_key: ${KP_OBJECT_STORE_ACCESS_KEY:minio}
  secret_key: ${KP_OBJECT_STORE_SECRET_KEY:minio123}
  signed_url_expiry: ${KP_OBJECT_STORE_SIGNED_URL_EXPIRY:60}

fastapi:
  host: ${KP_FASTAPI_HOST:localhost}
  port: ${KP_FASTAPI_PORT:8000}
  debug: ${KP_FASTAPI_DEBUG:false}
  reload: ${KP_FASTAPI_RELOAD:false}

default_data:
  client_sub: "SDA"
  llm_name: "gpt4"

features:
  demo:
    name: "Sum Feature"
    description: "Adds 2 numbers"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: false
  
  list_conversations:
    name: "List Conversations"
    description: "List all conversations in a research context"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  create_default_data:
    name: "Create Default Data"
    description: "Create default data for testing: one user with a hard-coded SUB; one llm with a hardcoded name. This is meant to be executed first to setup the necessary components to (1) register new source data, (2) create a new research context selecting from the available source data"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  new_source_data:
    name: "Register Source Data"
    description: "Register a new source data in the database"
    version: "1.0.0"
    tags: ["client: service"]
    enabled: true
    auth: true

  list_source_data:
    name: "List Source Data"
    description: "List all source data registered in the database for a given Client"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  new_research_context:
    name: "Create Research Context"
    description: "Create a new research context from a subset of the available source data for a client"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  new_conversation:
    name: "Create Conversation"
    description: "Create a new conversation in a research context"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true
  
  list_research_contexts:
    name: "List Research Contexts"
    description: "List all research contexts in the database for a given user"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  list_source_data_for_research_context:
    name: "List Source Data for Research Context"
    description: "List all source data registered in the database for a given research context"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  get_client_data_for_upload:
    name: "Get Client Data for Upload"
    description: "Get the data required to upload a file to one of the storage services"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  get_client_data_for_download:
    name: "Get Client Data for Download"
    description: "Get the data required to download a file from one of the storage services"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  list_messages:
    name: "List Messages"
    description: "List all messages in a conversation"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true

  new_message:
    name: "Create Message"
    description: "Create a new message in a conversation"
    version: "1.0.0"
    tags: ["client: websat"]
    enabled: true
    auth: true