log:
  level: "DEBUG"
  format: "[%(asctime)s] [%(levelname)s] [%(name)s]: %(message)s"

files:
  root_directory: "${KP_ROOT_DIRECTORY:./test/mocks}"
  source_data_directory: "${KP_SOURCE_DATA_DIR:source_data}"

rdbms:
  host: ${KP_RDBMS_HOST:localhost}
  port: ${KP_RDBMS_PORT:5432}
  database: ${KP_RDBMS_DBNAME:kp-db}
  username: ${KP_RDBMS_USERNAME:postgres}
  password: ${KP_RDBMS_PASSWORD:postgres}

features:
  demo:
    name: "Sum Feature"
    description: "Adds 2 numbers"
    version: "1.0.0"
    verb: "GET"
    endpoint: "/sum"
    enabled: true
    auth: true
