version: '3.1'

services:

  db:
    image: postgres
    restart: always
    container_name: kp-dev
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: kp-db
    ports:
      - 5432:5432

  adminer:
    image: adminer
    container_name: kp-adminer
    restart: always
    ports:
      - 8080:8080